---
layout: layouts/base.njk
title: Search results
permalink: /search/
---
<link href="/plugins/pagefind/pagefind-ui.css" rel="stylesheet">

<div id="search" class="search"></div>

<script src="/plugins/pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>