                        <div class="tarjeta">

                            <figure class="image is-5by3">
                                <a href="{{ post.url }}">
                                <img src="{{post.data.featuredImage}}" alt="{{post.data.title}}" loading="lazy">
                                </a>
                            </figure>

                            <div class="p-3">
                                {% set comma = joiner() %}
                                {%- for tag in post.data.tags | filterTagList %}
                                {{ comma() }} <a href="/topic/{{ tag }}" class="is-uppercase is-size-7 has-text-grey-dark">{{ tag }}</a>
                                {%- endfor %}
                                <h3 class="tarjeta-title mt-0 mb-4 is-size-4 has-text-weight-bold has-text-grey-dark">
                                    <a href="{{ post.url }}" class="has-text-dark">{{ post.data.title }}</a>
                                </h3>
                                <p class="has-text-grey-dark">
                                    {{ post.data.description90Chars }}
                                </p>
                            </div>

                        </div>              