---
layout: layouts/base.njk
---
    <main id="content" class="section is-flex-grow-1">

       {% topPostMinimalAd %}

      <div class="container articulo content">

        {{ content | safe }}

        {% bottomContentPostMinimalAd %}

      </div>

    </main>