---
layout: layouts/base.njk
title: Gareth de Walters' personal website
metaTitle60Chars: Gareth de Walters' personal website
description: Gareth de Walters' personal website
metaDescription155Chars: Gareth de Walters' personal website
eleventyExcludeFromCollections: true
eleventyNavigation:
  key: Home
  order: 1
---

<section class="page-header section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="section-title h2 mb-3">
          <span>Elements</span>
        </h1>
        <ul class="list-inline breadcrumb-menu mb-3">
          <li class="list-inline-item"><a href="index.html"><i class="ti ti-home"></i>  <span>Home</span></a></li>
          <li class="list-inline-item">• &nbsp; <a href="elements.html"><span>Elements</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="content">
        {{ content | safe }}
        </div>
      </div>
    </div>
  </div>
</section>