---
permalink: /css/dewalters-theme.css
eleventyExcludeFromCollections: true
---
{% set css %}
  {% include "css/bootstrap.min.css" %}
  {% include "css/tabler-icons.min.css" %}
  {% include "css/qurno-styles.css" %}
{% endset %}
{{ css | cssmin | safe }}
